
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: navajowhite;
    overflow: hidden;
}
#myCanvas {
    background-color: darkblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
